.panel {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.7rem;
}
.section {
  display: flex;
  flex-direction: column;
}
.label {
  color: var(--text-secondary);
}
.row {
  display: flex;
}
.input {
  padding: 0.2rem 0.3rem;
  color: var(--text-primary);
  border: none;
  background-color: var(--text-secondary);
  text-align: right;
  min-width: 10px;
  width: fit-content;
}
.input:focus {
  outline: 1px solid white;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  display: flex;
  flex-shrink: 0;
  margin: auto;
}

.dot[data-running="true"] {
  background: rgb(0, 128, 0);
}
