.headbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
.headbar__title {
  flex: 1;
  text-align: center;
  font-size: 12px;
}
.headbar__underbar {
  display: flex;
  flex-direction: row;
}
.headbarWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.1rem;
}

.presetPanel {
  min-height: 60px;
}
.settingsPanel {
  border-top: 1px solid rgba(255, 255, 255, 0);
}
