.timerSettings {
  display: flex;
  flex-direction: column;
  padding: 3px;
  min-height: 90px;
  background: rgba(0, 0, 0, 0.25);
}
.colorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.7rem;
}
.colorLabel {
  display: flex;
  font-size: 0.7rem;
  color: var(--color-primary);
  margin-bottom: 0.2rem;
}
.colorOptions {
  display: flex;
  gap: 0.3rem;
  padding-top: 5px;
  border-top: 1px solid var(--color-primary);
}

.colorPicker :global(.react-colorful) {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 100px;
  margin-top: 20px;
}
.colorButtons {
  font-size: 0.7rem;
  margin: 2px;
  padding: 2px;
  outline: 1px solid var(--text-primary);
}
.colorButtons[data-activeBorder="true"] {
  outline: 3px solid var(--text-primary);
}
.colorTextButtons {
  font-size: 0.7rem;
  margin: 2px;
  padding: 2px;
}
