.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  color: var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.btn[data-active="true"] {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.7);
}
.btnGroup {
  display: flex;
  gap: 2px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 2px 5px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.19) var(--progress),
    transparent var(--progress)
  );
}
