.timerSettings {
  display: flex;
  padding: 3px;
  min-height: 90px;
  /* border: 1px solid rgba(255, 255, 255, 0.9); */
  background: rgba(255, 255, 255, 0.15);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20px;
  padding: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  color: var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
